html, body{ height: 100%}
body {
	/* padding-top: 3.5rem;*/
	font-family: "Inter", sans-serif;
	font-size: 1em;
	transition: all ease 0.2s;
	color:#000;
	display: flex;
  flex-direction: column;
}
html {
	font-size: 100%;
}
a, a:hover{ color:inherit; text-decoration:none; transition: all ease 1s;}
main {
  flex: 1 0 auto;
}
figure{margin: 0;}
.small, small{ font-size:90%}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a3a3a3 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a3a3a3 !important;
}
ul, ul li, ol, ol li{ list-style: none; margin: 0; padding: 0}
img{ max-width: 100%; height: auto}
h1, h2, h3, h4, h5, h6{font-family: "Oswald", sans-serif}
h1{ color:#1c5291; font-size:2.25em; margin: 1rem 0; font-weight:700;}
h1.red{ color: #00a0e3; font-weight:800;}
h2{ font-size: 2.875em; color: #1C5291; /*text-transform: uppercase;*/}
h3{ font-size: 1.875em; font-weight:500; color: #00A0E3;}
h4{ font-size: 1.5em; font-weight:500; color: #00A0E3; margin-bottom: 0.5em;}
h6{ font-size: 1.5em; font-weight: 600; font-family: "Inter", sans-serif; margin-bottom: 0.7em;}
p{font-size:1em; color:#000; padding-bottom: 0; font-weight: 400; line-height: 1.8;}
#loom-companion-mv3{display: none !important;}
body.home{ background:#fff}
.btn{ border-radius: 0; padding: 15px 20px}
.btn-primary, .btn-secondary {
    color: #fff;
    background-color: #00a0e3;
    border-color: #00a0e3;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 30px;
    text-transform: uppercase;
}
.btn-secondary{color: #000;
    background-color: #fff;
    border-color: #000; padding: 7px 20px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background-color: #063688;
    border-color: #063688;}
.form-inline input.form-control, .form-control, select.form-control{    /*border-radius: 0 !important;*/ min-height: 44px;}
.form-group label{ font-size: 1em; font-weight: 600;}
.form-inline span{ margin: 0 10px; line-height: 0; display: flex; align-items: center; color:#909090}
.form-check-label {    font-size: 1em;font-weight: 400;}
.light-blue{background: #F1F8FF;}
/*header*/
header {
    border-bottom: #E0E0E0 solid 1px;
    padding: 5px 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
    background: #fff;
}
header .phone-text {
    display: flex;
    gap: 20px;
}
#header + div, #header + section, #header + main {    margin-top: 85px;}
header.sticky {
    position: fixed;
    width: 100%;
    z-index: 9;
}
.text-black{color:#000}
.text-dark-blue{ color: #1C5291;}
/*end*/

/*footer*/
footer{ padding: 0; background: #F4F4F4; }
footer p{padding: 0; margin: 0; color: #fff; }
footer a{ font-weight: 300; line-height: 2;}
footer p.copyright{color:#909090; padding: 0.5em;}
footer .info-links{ background: #00A0E3; color: #fff; padding: 2em 0 2.5em 0;}
footer .about-links{ background: #1C5291; color: #fff; padding: 3em 0;}
footer .about-links a{ position: relative;}
footer .about-links a:before{ content:""; display:inline-block; position: relative; width: 8px;
    height: 8px;
    border-color: #fff;
    border-width: 1px 1px 0 0;
    border-style: solid;
    transform: rotate(-135deg); margin-right: 0.5em;}
    footer .info-links h6 {margin: 1em 0 0.5em 0;}
/*end*/

/*index*/
.hero-banner{ height: auto; display: flex; align-items: center; background:url("../images/hero-img.jpg") no-repeat; min-height: 650px; width: 100%; position: relative;}
.hero-banner:after {
    content: "";
    position: absolute;
    display: block;
    width: 42%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
    transform: skewX(-10deg);
    left: -3%;
}
.hero-banner figure img{ border-radius: 50%;}
.home main section{ padding:3em 0}
section{ padding: 2em 0}
.hero-banner .hero-content{ position: relative; z-index: 1; left: 17%;}
.hero-banner .hero-content h5, .hero-banner .hero-content p, .hero-banner .hero-content h4 { margin: 1em 0;}
.hero-banner .hero-content h1{ color:#1c5291; font-size:4.5em; font-weight: 900; margin-top: 0;}
.hero-banner .hero-content h1 span{ color: #00a0e3;}
.hero-banner .hero-content h5, .hero-banner .hero-content h4{ color: #00A0E3; font-family: "Inter", sans-serif; font-weight: 700;}
.hero-banner .hero-content h5 span, .hero-banner .hero-content h4 span{ color: #1C5291; font-family: "Inter", sans-serif; font-weight: 700;}

.usp{ background: #00A0E3; padding: 1em;}
.usp-box{ text-align: center; padding: 1em 0 0 0;}
.usp-box p{ font-size: 1.125em; padding: 1em 0; color: #fff; font-weight: 600; margin: 0;}
.carrier-partners{ background: url("../images/sim-card-bg.png") no-repeat; background-position: left 40px;}
.carrier-partners h2{ margin: 0 0 1em 0;}
.sim-data-plan{background: #F2FBFF;}
.find-con-store{ background: #fff; border-radius: 10px; margin: 2em 0; padding: 2em; border: #0D97EF solid 1px;}
.find-con-store h4{ text-transform: uppercase; font-size: 1.5em; color: #00A0E3; margin-bottom: 1em;}
.find-con-store .conventient-store {
    display: flex;
    justify-content: space-between;
}
.find-con-store .conventient-store a{border: #e1e1e1 solid 1px;}
.find-con-store .conventient-store a:hover{border: #0D97EF solid 1px;}

.find-con-store a.align-right {
    justify-content: space-between;
    align-items: end;
    flex-wrap: unset;
    margin-top: 1.5em;
    border-radius: 30px;
    background: #1C5291;
    border-color: #1C5291;
}
.sim-data-plan{ padding: 5em 0 !important; position: relative; overflow: hidden;}
.sim-data-plan:before{ content: ""; display: block; position: absolute; background-image: url("../images/hori-dotted.svg"); width: 353px;    height: 136px;    left: 96px;    top: 40px;}
.sim-data-plan:after{ content: ""; display: block; position: absolute; background-image: url("../images/verti-dotted.svg"); width: 146px;    height: 353px;    right: 96px;    top: 40px;}
.sim-data-plan .container-fluid{ padding: 0 5%;}
.sim-data-plan .simdata-pic img{ border-radius: 0 40px 0 40px;}
.sim-data-plan .sim-data-content, .sim-data-plan .find-con-store{ padding-left: 2em;}
/*end*/

/*content pages*/
.content-pages .content p{ color: #666;}
.content-pages .content > h2{ border-bottom: #EFEFEF solid 1px; display: flex; padding-bottom: 0.5em; margin-bottom: 0.5em;}
ul.decimal-style{ margin: 2em 0;}
.decimal-style li{list-style-type: decimal; color: #666666; margin-left: 1em; padding-bottom: 1em;}
.breadcrumb{ margin: 0; background: 0; padding: 0.75em 0; font-size: 0.875em;}
.breadcrumb-sec {
    background: #fff;   
    border-bottom: #E0E0E0 solid 1px;
}
.terms li{ padding-bottom: 0.8em; line-height: 1.8; color: #666;}
.terms li b{ color: #000;}
.support-info{ margin-bottom: 1.5em; padding-bottom: 0.5em; display: block; border-bottom: #EFEFEF solid 1px;}
.support-info:first-child{ margin-top: 1em;}
.support-info:last-child{border:none}
.support-info h2{ font-size: 1.5em; color: #000; display: flex; justify-content: space-between; margin: 0;}
.support-info p{ margin-bottom: 0.5em;}
.support-info a{ color: #0D97EF; font-weight: 700; margin-bottom: 1em; display: inline-block; position: relative;}
.support-info a:after{content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border: #0D97EF solid 1px;
    border-width: 0 0 2px 2px;
    transform: rotate(-134deg);
    margin: 1px 4px;}
.faq-box{ margin: 1em 0 1em 0; padding: 1em; border-top: #efefef solid 2px; }
.faq-box h4{ font-size: 1.25em;}
.phone-box {
    padding: 2em 2em;
    box-shadow: rgb(0 0 0 / 0.2) 1px 0px 5px;
    transition: all ease 0.2s;
    background: #fff;
    margin: 1em 0;
}

/*form and detail pages*/
.light-blue h2, .light-blue h4{ text-transform: uppercase;}
.retailersContent .CatBox{background: #fff; padding: 1.5em;}
.retailersContent .CatBox h2{ font-size: 1.5em; font-family: "Inter", sans-serif; color: #000; text-transform:capitalize;}
.retailersContent .CatBox h2 a{ background: #EFF4F5; padding: 5px 15px; font-size: 1rem; font-family: "Inter", sans-serif; text-transform:capitalize; border-radius: 20px; }
.retailersContent .CatBox h3{font-family: "Inter", sans-serif; font-size: 1em; color: #000;}
.alert-primary{ background: #D8F0FF; border: #0D97EF solid 1px; color:#0D97EF; font-size:1.125em}
.alert-primary a{ font-weight: 600; text-decoration: underline; margin-left: 2px;}

/*retailer*/
.hero-content-retailer{ max-height: 450px; background: #1C5291; display: flex; position: relative; color: #fff; align-items: flex-start;
    padding: 0; margin-bottom: 6em;}
.hero-content-retailer h1, .retailer-cta .content h1{ font-size: 2.9em;}
.hero-content-retailer h3{ font-size: 1.875em;}
.hero-content-retailer h1, .hero-content-retailer p{ color: #fff;}
.hero-content-retailer .hero-retailer, .hero-content-retailer .content{ position: relative; margin:4em 0 0 0} 
.retailer-about{ background: #fff; position: relative; overflow: hidden}
.retailer-about:after {
    background: url(../images/sim-cards.png) no-repeat;
    content: "";
    position: absolute;
    display: block;
    width: 310px;
    height: 290px;
    transform: translateY(-50%);
    top: 50%;
    right: -3em;
}
.retailer-about .content{ padding-left: 2em;}
.retailer-about .content p{ line-height: 1.8; font-size: 1.125em; color: #222222;}
.retailer-operator{ background: #F1F8FF; margin: auto; text-align: center;
    display: flex;
    justify-content: center;}
    .retailer-operator h1{ margin: 0.5em 0;}
    .retailer-operator ul{ margin: 2em 0 1em 0;}
.retailer-operator ul li{ display: inline-flex; margin: 0 0.5em;}
.retailer-cta{background: #1C5291; display: flex; flex-direction: column; padding: 0;}
.retailer-cta .content{ display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 2em; width: 85%;
    text-align: center;
    margin: auto;}
    .retailer-cta .hero-retailer{ text-align: center;}
.retailer-cta .content h1{ color: #0D97EF; font-size: 4em; text-transform: uppercase;}
.retailer-cta .content h4{ font-size: 1.875em; color: #fff; font-weight: 600; margin: 0.5em 0 1em 0;}
.retailer-cta .content p{ color: #fff; margin:1em 0}
.retailer-cta .content p a{ color:#0D97EF; font-weight: 600; margin:1em 0; text-decoration: underline;}
.retailer-form-page{background:#F1F8FF; }
.retailer-form-page .retailer-forms{position: relative; overflow: hidden;}
.retailer-form-page .retailer-forms:before {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    background: #00A0E3;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 30%;
    top: 20%;
    box-sizing: border-box;
    filter: blur(30px);
}
.retailer-form-page .retailer-forms:after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background: #00A0E3;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    right: 130px;
    bottom: 20px;
}
.distributor.retailer-form-page .retailer-forms:after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background: #00A0E3;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 130px;
    bottom: 20px;
}
.distributor .distributor-sec{   height: 84vh;
    width: 100%;
    display: block;}
    
    .distributor .distributor-sec img{height: 100%; width: 100%; object-fit: cover;}
.distributor .distributor-sec img{ position: absolute;}
.retailer-form-page .retailer-forms .form-box{border-radius: 10px; background: rgb(255 255 255 / 90%); border: #1C5291 solid 3px; margin: 0; position: relative;}
.retailer-form-page .retailer-forms .form-box .lifestyle-pic.authorized img{ height: auto;}
.retailer-form-page .retailer-forms .form-box .lifestyle-pic img{border-radius:24px; text-align: center; padding: 1em; height: 84vh; width: 100%; object-fit: cover;}
.distributor.retailer-form-page .retailer-forms .form-box .lifestyle-pic img{border-radius:6px 0 0 6px; text-align: center; padding: 0;}
.retailer-form-page .retailer-forms h1{ font-size: 4em; font-weight: 500; color: #00A0E3; text-transform: uppercase;}
.retailer-form-page .retailer-forms h4{ display: flex; align-items: center; position: relative; margin: 1em 0; font-family: "Inter", sans-serif;}
.retailer-form-page .retailer-forms h4 span{ font-size: 1rem; color: #1C5291; font-weight: 700; position: relative; background: #fff; z-index: 1; padding-right: 1em;}
.retailer-form-page .retailer-forms h4:after{ content: ""; width: 100%;; height: 1px; background: #000; position: absolute; right: 0; z-index: 0;}
.retailer-form-page .retailer-forms.form-check-label{ font-size: 0.875em !important; font-weight: 500;}
.retailer-form-page .retailer-forms button[type="submit"]{ width: 100%; text-transform: uppercase; font-weight: 600; font-size: 1em; border-radius: 4px;}
.main-wrapper {    padding: 2em 0;}

/*responsiveness*/
@media screen and (min-width:1200px){ 
	.container{ max-width: 1280px}
    .hero-content .container{ max-width: 1300px;}
    .hero-content .content { padding-left: 4em;  }
}

@media screen and (max-width: 1200px){
    h1{font-size: 2.5em !important;}
    h3{ font-size: 1.5em !important;}
    
}

/*ipad*/
@media (min-width: 768px) and (max-width:1200px) {
    .carrier-partners{background: none;}
    .hero-banner{ background-position: center top; min-height: auto}
    .hero-banner:after {        
        background: rgb(255 255 255 / 70%);        
        transform: skewX(-0deg);
        left: 0;
        width: 100%;
    }
}

/*mobile*/
@media (max-width: 767px) { 
	html{font-size:85%}
    header{ padding: 5px 0em;}
    header.sticky {
        display: flex;
        text-align: center;
    }
    header .phone-text {
        display: flex;
        /* flex-direction: column; */
        font-size: 80%;
        margin-bottom: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        gap: 5px;;
        justify-content: right;
        align-items: center;
    }
    .hero-banner .hero-content {
        position: relative;
        z-index: 1;
        left: 5%;
        text-align: center;
    }
    .hero-banner {        
        min-height: 340px;        
        background-size: cover;
        background-position: center center;
    }
    .hero-banner:after {        
        background: rgb(255 255 255 / 70%);        
        transform: skewX(-0deg);
        left: 0;
        width: 100%;
    }
    header .phone-text span{display: none;}
    header .phone-text a{ padding: 1em 0.5em; max-width: 100px; border-radius: 10px;}
    .carrier-partners{background: #fff;}
    .carrier-partners img{ height: 50px; width: auto; margin: 0.5em 0;}
    .sim-data-plan .sim-data-content{ padding: 1em 0 2em 0;}
    .sim-data-plan:after{display: none;}
    .main-wrapper {
        padding: 2em 0;
    }
    #header + div, #header + section, #header + main {
        margin-top: 60px;
    }
    .distributor.retailer-form-page .retailer-forms .form-box .lifestyle-pic img{padding: 0; border-radius:0;}
    .breadcrumb-sec {padding-top: 0.5em}

   
}
